@import '../../scss/index.scss';

.updatePassword {
  @include container();
  color: #fdfdfd;
  width: 65%;
  height: auto;
  border-radius: 6px;
  background-color: #1e1f26;
  padding: 30px;
  display: flex;
  flex-direction: column;

  label {
    font-weight: 700;
    font-size: 18px;
    
    input {
      width: 100%;
      margin-top: 8px;
    }
  }

  button {
    @extend %buttonGrey;
    font-size: 16px;
    font-weight: 600;
    width: 160px;
   
  }
}


