@import "../../../scss/index.scss";

.header {
  @include container($width: 98vw);
  @include flex($justify: space-between, $align: center);
  height: 65px;

  margin-bottom: 1px;

  &::before {
    content: "";
    display: block;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: inherit;
    border-bottom: 1px solid #2f2f2f;
  }

  .logoBlock {
    height: 100%;
    @include flex($justify: space-between, $align: center);
    width: fit-content;

    svg {
      position: relative;
      width: 35px;
      @extend %logo;
      fill: #fff;
      z-index: 10 !important;
    }

    .workInfo {
      text-align: start;
      margin-left: 10px;
      position: relative;
      color: white;
      @include flex(
        $direction: column,
        $justify: space-between,
        $align: center
      );
      h1 {
        width: 100%;
        font-size: 1.2rem;
        font-weight: 700;
        color: white;
      }

      span {
        color: #9b9eae;
        font-size: 0.9rem;
        text-transform: none;
        letter-spacing: 0;
        text-align: start;
        width: 100%;
      }
    }
  }

  nav {
    z-index: 0;
    button:first-of-type {
      @extend %buttonGrey;
      font-size: 16.5px;
      padding: 13px 16px;
    }

    a:first-of-type {
      @extend %buttonGrey;
      padding: 13px 16px;
      margin: 0 10px;
    }

    a:last-child {
      @extend %buttonGreen;

      padding: 13px 16px;
    }
  }
}
