@import '../../scss/index.scss';

.settings {
    height: 100vh;
    background-color: #131417;

    .container {
        @include container();
        margin-top: 20px;
        color: #FDFDFD;
       

        h1 {
            padding-bottom: 13px;
            border-bottom: 2px solid $greenMain;
            margin-bottom: 35px;
        }

        h2:first-of-type {
            display: inline-block;
            margin-bottom: 260px;
            width: 35%;   
        }

        h2:nth-of-type(2) {
            display: inline-block;
            width: 35%;   
        }
      


    }
}