@import "../../scss/index.scss";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  cursor: pointer;
}

.popupWrapper {
  min-width: 550px;
  min-height: 300px;
  background-color: #131417;
  border-radius: 6px;
  z-index: 2;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11;

  header {
    padding: 12px 13px;
    border-bottom: 2px solid $greenMain;
    @include flex($align: center, $justify: space-between);

    h2 {
      margin-left: 10px;
      color: white;
      font-size: 22px;
    }

    button {
      @extend %buttonGrey;
      font-size: 20px;
      padding: 4px 4px;
      @include flex($align: center, $justify: center);
    }
  }
}
