@import "../../scss/index.scss";

.header {
  @include container($width: 99vw, $max-width: 99vw);
  @include flex($justify: space-between, $align: center);
  height: 65px;
  margin-bottom: 1px;

  &::before {
    content: "";
    display: block;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: inherit;
    border-bottom: 1px solid #2f2f2f;
  }

  .logoBlock {
    height: 100%;
    @include flex($justify: space-between, $align: center);
    width: fit-content;

    svg {
      position: relative;
      width: 35px;
      fill: #fff;

      &:hover {
        @include filterLight();
      }
    }

    .workInfo {
      text-align: start;
      margin-left: 10px;
      position: relative;
      color: white;
      @include flex($direction: column, $justify: space-between, $align: center);
      h1 {
        width: 100%;
        font-size: 1.2rem;
        font-weight: 700;
        color: white;
      }

      span {
        color: #9b9eae;
        font-size: 0.9rem;
        text-transform: none;
        letter-spacing: 0;
        text-align: start;
        width: 100%;
      }
    }
  }

  nav {
    display: flex;
    z-index: 0;

    button:first-of-type {
      @extend %buttonGrey;
      font-size: 16.5px;
      padding: 13px 16px;
      display: flex;
      align-items: center;
      width: 100px;

      svg {
        margin-right: 10px;
      }
    }

    a:first-of-type {
      @extend %buttonGrey;
      padding: 13px 14px;
      margin: 0 10px;
      svg {
        width: 14px;
        height: 14px;
        margin-right: 4px;
      }
    }

    a:last-child {
      @extend %buttonGreen;
      display: flex;
      align-items: center;
      padding: 13px 16px;
      color: white;
      background-color: #dc143c;
      svg {
        width: 17px;
        height: 17px;
        margin-right: 4px;
      }

      &:hover {
        background-color: #a00609;
      }
    }
  }

  .loginPopup {
    @include flex($direction: column);
    width: 400px;
    height: 150px;
    padding: 10px;

    span {
      margin-bottom: auto;
      font-weight: 400;
      font-size: 18px;
    }

    div {
      display: flex;
      justify-content: flex-end;

      button {
        margin-left: 20px;
        padding: 7px 20px;
        @extend %buttonGrey;
        font-size: 17px;
      }

      a {
        margin-left: 20px;
        padding: 7px 20px;
        @extend %buttonGrey;
      }
    }
  }
}
