@import '../../../scss/index.scss';

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  height: 50px;
  background-color: #060606;
  border-bottom: 1px solid #2f2f2f;

  .logoBlock {
    display: flex;
    align-items: center;
    svg {
      width: 150px;
      height: auto;
    }
  }

  nav {
    a:first-child {
      @extend %buttonGrey;
      padding: 13px 16px;
    }

    a:last-child {
      @extend %buttonGreen;
      margin-left: 10px;
      padding: 13px 16px;
    }
  }
}
