@import "../../../scss/index.scss";

.yourWorks {
  @include flex($direction: column, $justify: center);
  background-color: #131417;

  .container {
    @include container();

    .worksTab {
      margin: 25px 0;
      border-bottom: 3px solid #2c303a;
      padding-bottom: 10px;

      .active {
        text-decoration: none;
        color: white;
        font-size: 30px;
        border-bottom: 3px solid $greenMain;
        padding-bottom: 10px;
      }

      .active:hover {
        border-bottom: 3px solid $greenMain-hover;
      }
      button {
        @extend %buttonGreen;
        margin-top: 5px;
        font-size: 28px;
        padding: 0px 20px;
        float: right;
      }
    }

    .works {
      // width: 100%;

      margin-bottom: auto;
      display: grid;
      justify-items: center;
      align-content: center;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 400px 400px;
      padding-top: 50px;
    }
  }
}
