.card {
  border-radius: 10px;
  background-color: #2c303a;
  width: 30%;
  min-width: 300px;
  height: 300px;

  color: white;

  .external {
    padding: 2px 16px;
  }

  .footerCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .menuSmall {
      cursor: pointer;
      fill: #eaebee;
      width: 35px;
    }
  }

  .img {
    transition: 0.5s;
    padding-top: 10px;
    border-radius: 10px;
    cursor: pointer;
  }

  .img:hover {
    transform: scale(1.1);
  }
}
