@import '../../scss/index.scss';

.footer {
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: auto;
 

  .container {
    @include container();
    @include flex( $align: center ,$justify: space-between);
    
    span {
      color: white;
    }
  
    & > svg {
      height: 45px;
      fill: white;
      color: white;
      margin-left: 15px;
      width: 150px;
    }
  }
 
}
