.editor {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100%;
  width: auto;

  .header {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;

    h2 {
      display: flex;
      align-items: center;
      font-size: 1.1rem;
      color: #a8acba;
      background-color: #1d1e22;
      padding: 9px 12px;
      border-top: 3px solid #34363d;
    }

    svg {
      width: 17px;
      margin-right: 8px;
    }
  }

  .codeMirrorWrapper {
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
  }
}
