@import "../../scss/index.scss";
.dndModal {
  @extend %modal;
  width: 750px;
  height: 500px;

  header {
    height: 50px;
    @include flex($align: center);
    padding: 10px;
    border-bottom: 2px solid #0ebeff;
    margin-bottom: 40px;

    svg {
      width: 20px;
    }

    svg:first-of-type {
      margin: 0 auto;
      color: #bdbdbd;
    }
  }

  label {
    @include flex($direction: column, $align: center, $justify: center);
    margin: 4%;
    width: 92%;
    height: 380px;
    color: white;
    background-color: lighten($color: #1e1f26, $amount: 3%);
    border: 1px dashed #bdbdbd;
    transition: all 0.1s ease-in-out;

    span {
      text-align: center;
      max-width: 300px;
    }

    svg {
      margin-bottom: 20px;
      path {
        transition: all 0.1s ease-in-out;
      }
    }

    &:hover {
      border: 1px dashed lighten($color: #bdbdbd, $amount: 20%);
      @include boxShadowDark();
      path {
        fill: #0ebeff;
      }
    }
  }
}
