// colors
$homeBg: #131417;
$blockBg: #454750;

$greyMain: #444958;
$greyMain-hover: #61677c;
$greyMain-active: #757c93;

$greenMain: #47ce72;
$greenMain-hover: #248c46;
$greenMain-active: #1f7b3e;
$greenMain-disabled: #15572e;

$redMain: #ff3b41;
$redMain-hover: #f22b31;
$redMain-active: #ee141b;

// goMessageColors
$greenGoMessage: #46CF73;

// container
$containerWidth: 90vw;
$maxContainerWidth: 1450px;
